<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>双向绑定</title>
    <style>
        p{  margin: 20px }
    </style>
</head>
<body>
    <p class="a" v-model="123">Observe 监听器 监听属性变化并通知订阅者</p>
    <p>Watch 订阅者 收到属性变化，更新视图</p>
    <p>compile 解析器 解析指令，初始化模板，绑定订阅者 </p>

    <div id="app">
        <p> 姓名：<input type="text" v-model="name"></p>
        <p>学号：<input type="text" v-model="number"></p>
        <p><span>学号：</span> <span>{{ number }}</span></p>
        <p><span>computed实现：</span> <span>{{ getStudent }}</span></p>

        <p>
            <button v-on:click="setData">事件绑定</button>
        </p>
    </div>
    <script>
       

    </script>
</body>
</html>
